@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    min-height: 100vh;
    background: url(../imgs/bg-main-desktop.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;   
}


main{
    display: flex;
    gap: 10rem;
    
}

main .cards{
    margin-left: 5rem;
}

main .cards .card-front{
    background: url(../imgs/bg-card-front.png) center center no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 447px;
   
    padding: 3rem;
    
}

main .cards .card-front .number-card {
    margin-top: 5rem;
    font-size: 2.9rem;
    color: var(--light);
    letter-spacing: 0.3rem;
    
}

main .cards .card-front .dados-card{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

main .cards .card-front .dados-card .name-card,
main .cards .card-front .dados-card .value-card{
    color: var(--light);
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
}

main .cards .card-back{
    background: url(../imgs/bg-card-back.png) center center no-repeat;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 447px;
    height: 245px;
    margin-top: 5rem;
    margin-left: 10rem;
    align-items: end;
    justify-content: center;
    
}

main .cards .card-back .security-card{
    padding-right: 6rem;
    color: var(--light);
    letter-spacing: 0.2rem;
}

main .secao-dados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

main .secao-dados p{
    color: var(--background-btn);
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    
}

main .secao-dados input{
    height: 3rem;
    width: 80%;
    margin-top: 0.8rem;
    border: 1px solid var(--bordar-input-placehoder);
    border-radius: 0.4rem;
    padding-left: 1.5rem;
    
}

main .secao-dados input::placeholder{
    color: var(--bordar-input-placehoder);
    
}

main .secao-dados input:focus{
    border-image: var(--gradiente-input-ativo);
}

main .secao-dados .date{
    display: flex;
    width: 100%;
    gap: 2rem;
}

main .secao-dados .date .date-number {
    width: 30%;
}

main .secao-dados .date .date-number .mes-ano{
    display: flex;
    gap: 2rem;
}

main .secao-dados .date .date-cvc{
    width: 58%;
}

main .secao-dados .btn button{
    width: 80%;
    height: 4rem;
    color: var(--bordar-input-placehoder);
    background-color: var(--background-btn);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    margin-top: 2rem;
}