:root{
    --gradiente-input-ativo: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --erro-input: hsl(0, 100%, 66%);

    --light: hsl(0, 0%, 100%);
    --bordar-input-placehoder: hsl(270, 3%, 87%);
    --color-h4: hsl(279, 6%, 55%);
    --background-btn: hsl(278, 68%, 11%);

}